.queries-list-container {
    padding: 16px;
  }
  
  .job-query-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    color: #002D62;
    border-bottom: 1px solid #ccc;
  }
  
  .job-query-item span {
    flex-grow: 1;
  }

  .icon-container {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }