#job-search-results-container {
    background-color: black;
}

.job-search-results-grid {
    .MuiDataGrid-root {
        color: #15d196;
        border-color: #15d196;
    }

    .MuiDataGrid-cell {
        color: #15d196;
        border-color: #15d196;
    }

    .MuiDataGrid-columnHeaders {
        color: #15d196;
        border-color: #15d196;
        font-weight: bold;
        font-size: 16px;
        font-family: 'Arial', sans-serif;
    }

    .MuiDataGrid-columnSeparator {
        visibility: visible;
        background-color: #15d196;
    }

    .MuiDataGrid-sortIcon,
    .MuiDataGrid-menuIcon,
    .MuiSvgIcon-root {
        color: aliceblue;
        fill: aliceblue;
        /* Ensure the SVG path is filled */
    }

    .MuiDataGrid-footerContainer {
        color: #15d196;
        border-top: 1px solid #15d196;
    }

    .MuiDataGrid-toolbarContainer {
        color: #15d196;
    }

    .MuiDataGrid-columnHeaderTitleContainer {
        color: #15d196;
    }

    .MuiDataGrid-row {
        border-color: #15d196;
    }

    .MuiDataGrid-columnHeaderTitleContainerContent,
    .MuiDataGrid-iconSeparator {
        color: aliceblue;
    }

    .MuiDataGrid-columnHeaderTitle {
        font-weight: bold;
    }

    .MuiDataGrid-iconSeparator {
        display: none;
        /* Hide the separator line if not needed */
    }

    .MuiDataGrid-columnHeader:focus,
    .MuiDataGrid-columnHeader:focus-within {
        outline: none;
    }

    /* Ensure resize handle visibility */
    .MuiDataGrid-columnHeader:has(.MuiDataGrid-columnSeparator) {
        .MuiDataGrid-columnSeparator {
            visibility: visible;
            opacity: 1;
            background-color: #15d196;
            /* Customize as needed */
        }
    }

    .MuiTablePagination-displayedRows {
        color: aliceblue;
    }
}