#job-search-results-container {
    background-color: black;
}

#job-search-results-container {
    background-color: black;
}

.job-search-results-grid {
    .MuiDataGrid-root {
        color: #15d196;
        border-color: #15d196;
    }

    .MuiDataGrid-cell {
        color: #15d196;
        border-color: #15d196;
    }

    .MuiDataGrid-columnHeaders {
        color: #15d196;
        border-color: #15d196;
    }

    .MuiDataGrid-columnSeparator {
        color: #15d196;
        border-color: #15d196;
    }

    .MuiDataGrid-sortIcon {
        color: #15d196;
    }

    .MuiDataGrid-footerContainer {
        color: #15d196;
        border-top: 1px solid #15d196;
    }

    .MuiDataGrid-toolbarContainer {
        color: #15d196;
    }

    .MuiDataGrid-columnHeaderTitleContainer {
        color: #15d196;
    }

    .MuiDataGrid-row {
        border-color: #15d196;
    }
}