.form-section {
    .personal-info-section{
        display: flex;
        flex-direction: row;
        gap:25px;
    }

    .MuiFormControl-root {
        width: auto;
        margin-bottom: 16px;
    }
}

.MuiInputBase-root {
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        -webkit-text-fill-color: black !important;
    }
}