.resume-editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    height: 70vh;


    .MuiStepper-root {
        background: white;
    }

    .content-container {
        flex-grow: 1;
        overflow-y: auto;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .form-section {
            padding: 16px;
            background-color: #f9f9f9;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .form-control{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0;
                .text-field{
                    margin: 0;
                }
            }
        }
    }

    .form-section {
        margin: 16px 0;

        .MuiTextField-root {
            margin-bottom: 16px;
        }

        .MuiIconButton-root {
            margin-left: 8px;
        }
    }

    @media (max-width: 768px) {
        padding: 10px;

        .content-container {
            padding: 10px 0;
        }

        .MuiStepper-root {
            flex-direction: column;
            align-items: flex-start;
        }

        .MuiStepLabel-label {
            font-size: 0.875rem;
        }

        .MuiStep-root {
            margin-bottom: 10px;
        }

        .MuiButton-root {
            font-size: 0.875rem;
        }
    }
}