#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#page-outlet{
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
}

